.content-area{
	position: relative;
	height: calc(100% - 1.75em);
	padding-bottom: 1.75em;
}

.seperator{
	margin: 25px 25px 25px 0px;
	padding-left:25px;
	width:300px;
	border-left: 1px solid grey;
}

sup{
	vertical-align: super;
	font-size:0.6em;
}

.switch {
  position: relative;
  display: inline-block;
  width: 2.5em;
  height: 1.5em;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 1em;
  width: 1em;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(1em);
  -ms-transform: translateX(1em);
  transform: translateX(1em);
}

.switch-container{
	width:100%;
	position: absolute;
	bottom: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.switch-text{
	font-size: 12px;
	margin: 0 10px;
}

.top-bar{
	display: flex;
	justify-content: space-between;
}

.data-box{
	margin-bottom: 25px;
}