.row {
    display: flex;
    height: 25px;
    align-items: center;
}

.tree-view-arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    padding: .1em;
    margin: .4em;
    width: .4em;
    height: .4em;
    transform: rotate(+45deg);
    transition:.2s;
    cursor: pointer;
}
.tree-view-arrow-collapsed {
    border: solid black;
    border-width: 0 3px 3px 0;
    padding: .1em;
    margin: .4em;
    width: .4em;
    height: .4em;
    transform: rotate(-45deg);
    transition:.2s;
    cursor: pointer;
}
.leaf-node{
    margin: .25em;
	width:1em;
	height:1em;
}

.children{
	padding-left: .5em;
    margin-left: .725em;
    max-height: 300px;
    transition: .5s;
    overflow: hidden;
    border-left: 1px solid black;
}

.collapsed{
	transition: .5s;
    max-height: 0;
}

.label{
    padding: 0 .25em;
    cursor: pointer;
    transition:.3s;
}

.label:hover{
    color: #2196F3;
}

.active{
    outline: 1px solid black;
}